{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block css_js %}
    <style type="text/css">
        body {
            background-image: url('https://images.unsplash.com/photo-1541969487406-1f1adf3884ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block navbar %}
    {% include 'client/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container p-3 my-3 bg-white border"><p>Here are company news!!!</p></div>
{% endblock %}